body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.my_top-header{
    height: 50px;
    background-color: black;
}

.my_sony-logo{
    width: 100px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link i{
    color: grey;
}

.my_lens-logo{
    width: 25px;
}

.my_nav-btn {
    background-color: #363636;
    border-radius: 35px;
    border: 1px solid #363636;
}

.my_nav-btn:hover{
    border-color: #363636;
}

.my_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my_carousel-box{
    border: 2px solid white;
    border-radius: 15px;
}

.my_carousel-box:hover{
    border: 2px solid blue;
}

.my_carousel-box-inner{
    border-radius: 15px;
    overflow: hidden;
}

.my_jumbotron-item{
    padding: 500px 0px 30px 0px;
}

.my_jumbo-img{
    width: 60%;
}

.my_jumbo-btn {
    background-color: #cd3d0f;
    border-radius: 35px;
    border: 1px solid #cd3d0f;
}

.my_jumbo-btn:hover{
    background-color: #cd3d0f;
}

.my_ps5-box{
    opacity: 0.7;
}

.my_ps5-box{
    height: 230px;
    opacity: 1;
    border-bottom: 2px solid blue;
}
