body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.my_top-header{
    height: 50px;
    background-color: black;
}

.my_sony-logo{
    width: 100px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link i{
    color: grey;
}

.navbar-nav .nav-item .nav-link {
}

.my_lens-logo{
    width: 25px;
}

.navbar-nav .btn {
    background-color: #363636;
    border-radius: 35px;
    border: 1px solid #363636;
}

.navbar-nav .btn:hover{
    border-color: #363636;
}
